body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('img/gif1.gif') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

h1 {
    color: green;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    color: #003366;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #003366;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #003366;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: green;
}

button:active {
    background: pink;
}